@{
    ViewBag.Title = "Carrello";
}
<h2>@ViewBag.Title</h2>
<div class="text-warning">
    <h3>@ViewBag.Message</h3>
</div>
@if(ViewBag.Message == null){  
    <div class="container">
        <div class="row">
            <div class="col-md-4">Id</div>
            <div class="col-md-4">Descrizione</div>
            <div class="col-md-4">Quantita Ordinata</div>
        </div>
        <hr />
        @foreach (var product in ViewBag.Prodotti) {
        
            <div class="row">
                <div class="col-md-4">@product.Id</div>
                <div class="col-md-4">@product.Descrizione</div>
                <div class="col-md-4">@product.QuantitaOrdinata</div>
            </div>
        }
    </div>
     <a class="btn btn-primary" href="/Home/Ordina" role="button">Invia</a>
    <a class="btn btn-primary" href="/Home/Pulisci" role="button">Pulisci</a>
    <a class="btn btn-primary" href="/Home/Cerca" role="button">Pulisci</a>
}
